body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen, ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-background);
    font-family: nunito, sans-serif;
    width: 100%;
    height: 100vh
}

*,
 :after,
 :before {
    box-sizing: border-box
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, courier new, monospace
}

@media screen and (min-width:360px) {
    .app-container {
        flex-direction: column
    }
    .app-container,
    .app-header {
        display: flex;
        align-items: center
    }
    .app-header {
        justify-content: space-between;
        color: var(--color-accent)
    }
    .app-header-left {
        display: flex;
        align-items: center
    }
    .app-icon {
        font-size: 2rem;
        margin-right: 1rem
    }
    .app-header-left>h1,
    .app-icon {
        color: var(--color-text-header)
    }
    .app-header-left>h1 {
        font-size: 1.25rem;
        font-family: reem kufi, sans-serif
    }
    .app-content-container {
        width: 100%;
        height: 100vh;
        padding: 1rem;
        display: flex;
        flex-direction: column
    }
    .app-connect-wallet-first {
        flex: 1 1;
        align-self: center;
        margin-top: 4rem;
        margin-left: 1rem
    }
    .app-details-section {
        flex: 1 1;
        margin-top: 1rem
    }
    .app-content-container>h1 {
        align-self: center
    }
}

@media screen and (min-width:640px) {
    .app-content-container {
        width: 640px
    }
}

:root {
    --color-text: #140108;
    --color-background: #eee;
    --color-hover: #c27400;
    --color-accent: #c27400;
    --color-text-header: #c27400;
    --color-error-background: #ff6961;
    --color-error-input: rgba(110, 178, 96, 0.4)
}

@media screen and (min-width:360px) {
    .address-input {
        border-radius: 4px;
        padding: 10px;
        border: 2px solid var(--color-accent);
        color: var(--color-text);
        flex: 1 1;
        outline: none;
        font-size: 1.25rem;
        transition: border .5s ease
    }
    .address-input-header {
        display: flex;
        align-items: center
    }
    .address-input-invalid,
    .address-input-invalid:focus {
        border: 2px solid var(--color-error-input)
    }
    .address-input-icon {
        min-width: 20px;
        transition: color .5s ease
    }
    .address-input-icon,
    .address-input-icon-invalid {
        color: var(--color-accent)
    }
    .address-input-container {
        min-width: 100%;
        display: flex;
        align-items: center
    }
    .address-input-label {
        font-weight: 600;
        margin-bottom: .5rem;
        margin-top: 1rem;
        color: var(--color-text-header)
    }
}

@media screen and (min-width:640px) {
    .address-input {
        min-width: 320px
    }
    .address-input-container {
        min-width: 320px;
        max-width: 640px;
        display: flex
    }
}

.dropdown {
    margin-left: .5rem;
    margin-top: .5rem
}

.connect-wallet-btn {
    padding: .5rem 1rem;
    outline: none;
    border: 2px solid var(--color-accent);
    background-color: transparent;
    cursor: pointer
}

.connect-wallet-btn:hover:enabled {
    border: 2px solid var(--color-hover);
    box-shadow: 2px 2px var(--color-hover);
    transition: all .5s ease;
    transition-property: border, box-shadow
}

.connect-wallet-btn:active {
    transform: translateY(2px)
}

.connect-wallet-container>p {
    color: var(--color-text)
}

.connect-wallet-btn-error {
    border: 2px solid var(--color-error-input);
    transition: border .5s ease
}

.connect-wallet-green-dot {
    background-color: orange
}

.connect-wallet-gray-dot,
.connect-wallet-green-dot {
    width: 10px;
    height: 10px;
    margin-right: .5rem;
    display: inline-block;
    border-radius: 50%
}

.connect-wallet-gray-dot {
    background-color: grey
}

.balance-details-container {
    background: rgba(245, 157, 43, 0.4);
    margin-top: 2rem;
    border-radius: 4px
}

.balance-details-container>h2 {
    border-radius: 4px;
    background: rgba(245, 157, 43, 0.4);
    font-size: 1.25rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between
}

.balance-details-container>h2>button {
    outline: none;
    background: 0 0;
    border: 2px solid var(--color-text);
    cursor: pointer
}

.balance-details-container>h2>button:active {
    transform: translateY(4px)
}

.balance-details-status {
    margin-left: 1rem;
    padding-bottom: 1rem
}

@media screen and (min-width:320px) {
    .balance-card-container {
        display: flex;
        justify-content: space-between;
        background: rgba(178, 140, 96, 0.5);
        margin: 1rem 0;
        align-items: center;
        font-size: .8rem;
        padding-left: .5rem
    }
    .balance-card-pair-name {
        display: none
    }
    .balance-card-pair-amount {
        flex: 1 1;
        margin-left: .5rem
    }
    .balance-card-pair-value {
        text-align: right;
        min-width: 115px;
        padding: 1rem .5rem;
        background: rgba(178, 140, 96, 0.6)
    }
}

@media screen and (min-width:480px) {
    .balance-card-container {
        margin: 1rem 0;
        align-items: center;
        font-size: .8rem
    }
    .balance-card-pair-name {
        min-width: 140px;
        padding: 1rem;
        display: block
    }
    .balance-card-pair-amount {
        flex: 1 1;
        text-align: center
    }
    .balance-card-pair-value {
        text-align: right;
        min-width: 130px
    }
}

@media screen and (min-width:960px) {
    .balance-card-container {
        font-size: 1rem
    }
    .balance-card-pair-name,
    .balance-card-pair-value {
        min-width: 160px;
        padding: 1rem
    }
}

@media screen and (min-width:320px) {
    .balance-total-container {
        display: flex;
        justify-content: space-between;
        background: rgba(178, 140, 96, 0.5);
        margin: 1rem 0;
        align-items: center;
        font-size: .8rem
    }
    .balance-total-title {
        text-transform: uppercase;
        margin: 0 1rem
    }
    .balance-total-value {
        text-align: right;
        min-width: 115px;
        padding: 1rem .5rem;
        background: rgba(178, 140, 96, 0.5);
    }
}

@media screen and (min-width:480px) {
    .balance-total-title {
        text-transform: uppercase;
        margin: 0 1.5rem
    }
    .balance-total-value {
        min-width: 130px
    }
}

@media screen and (min-width:960px) {
    .balance-total-container {
        font-size: 1rem
    }
    .balance-total-value {
        min-width: 160px;
        padding: 1rem
    }
}

.error-container {
    background: var(--color-error-background);
    color: var(--color-background);
    padding: 1rem
}

.footer-container {
    text-align: center
}